
<div class="text-center card mx-auto mt-5" style="width: 18rem;">
    <div class="card-body">
        <form method="post" action="/Account/Register">

            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            <div class="container col-md-10 mx-auto">
                <label for="Email" class="sr-only"></label>
                <input type="text" id="Email" name="Email" class="form-control mb-2" placeholder="Email"/>
                <label for="Password" class="sr-only"></label>
                <input type="password" id="Password" name="Password" class="form-control mb-2" placeholder="Password"/>

                <label for="RepeatPassword" class="sr-only"></label>
                <input type="password" id="RepeatPassword" name="RepeatPassword" class="form-control mb-2" placeholder="Confirm Password"/>

            </div>

            <button class="btn btn-dark btn-block" type="submit">Register</button>
        </form>
    </div>
</div>

