<div class="col-md-3 my-4">
    <div class="list-group">
        <a href="/UserProfile/Index" class="list-group-item list-group-item-action">User Information</a>
        <a href="/UserProfile/Posts" class="list-group-item list-group-item-action">Posts</a>
    </div>
</div>